!!! 5
html
  head
    meta(name='charset', content='utf-8')
    title ET Status
    link(href='/style/calibrate.css', rel='stylesheet', type='text/css')
    script(src='/socket.io/socket.io.js')
    script(src='/script/jquery.min.js')
    script(src='/script/status.js')
  body
    p.poweredBy(style="margin-top:70px;")
    .availability
      h1 ET Status
      - for (var i = 1; i <= n; i++) {
        a.etStatus.unavailable(href="#", id="nr#{i}")
          .id ?
          .info
          .ip unknown
      - }

