!!! 5
html
  head
    meta(name='charset', content='utf-8')
    title Calibrate ET
    link(rel='stylesheet', type='text/css', href='/style/calibrate.css')
  body
    #popup
      #main
        .logo
        #contents
          - if(cal)
              h2.error Currently calibrating ##{id}.
              p
                | The eye tracker you have requested is being calibrated.
                | Please, do not interfere with this process.
          - else
              h2.error Eye tracker ##{id} unavailable.
              p
               | The eye tracker you have requested is not available.
               | Please make sure that it is powered on and properly connected
               | to the eRiver server.